<link rel="import" href="../../bower_components/core-pages/core-pages.html">
<link rel="import" href="<%= storeName %>-store/<%= storeName %>-store.html">
<link rel="import" href="<%= storeName %>-admin/<%= storeName %>-admin.html">
<link rel="import" href="<%= storeName %>-config/<%= storeName %>-config.html">
