<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../../bower_components/core-item/core-item.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../../../bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../../../bower_components/trendystore-theme/trendystore-theme.html">
<link rel="import" href="../../../bower_components/trendystore-store-elements/trendystore-products.html">
<link rel="import" href="../../../bower_components/trendystore-store-elements/trendystore-product.html">
<link rel="import" href="../../../bower_components/trendystore-store-elements/trendystore-team.html">
<link rel="import" href="../../../bower_components/trendystore-store-elements/trendystore-license.html">

<!--
The <%= storeName %>.

##### Example

    <<%= storeName %>-store></<%= storeName %>-store>

@element <%= storeName %>-store
@blurb The <%= storeName %>.
@status alpha
@homepage http://<%= githubUser %>.github.io/<%= storeName %>
-->

<polymer-element name="<%= storeName %>-store" attributes="globals theme">

  <template>
    <style>
      :host {
        overflow-x: hidden;
      }
      core-animated-pages transitions {
        width: 100%;
        height: 100%;
      }
    </style>
    <core-style ref="{{theme}}"></core-style>
    <core-drawer-panel responsiveWidth='1190px'>
      <core-header-panel id="drawer" drawer>
        <core-toolbar>
          <div flex></div>
          <span>Menu</span>
          <div flex></div>
        </core-toolbar>
        <core-menu selected="{{globals.selected}}">
          <core-item name="products">Products</core-item>
          <!-- <core-item>Categories</core-item> -->
          <!-- <core-item name="basket">Basket</core-item>
          <core-item name="orders">Orders</core-item> -->
          <!-- <core-item name="contact">Contact</core-item> -->
          <core-item name="team">Team</core-item>
          <core-item name="license">License</core-item>
        </core-menu>
      </core-header-panel>
      <core-header-panel id="main" main>
        <core-toolbar>
          <paper-icon-button icon="menu" core-drawer-toggle></paper-icon-button>
          <span>{{storeName}}<strong>Store</strong></span>
          <div flex></div>
          <paper-icon-button icon="more-vert"></paper-icon-button>
        </core-toolbar>
        <core-animated-pages selected="{{globals.selected}}" transitions="slide-from-right">
          <trendystore-products name="products" globals="{{globals}}"slide-from-right></trendystore-products>
          <trendystore-product name="viewProduct" globals="{{globals}}"></trendystore-product>
          <trendystore-contact name="contact" globals="{{globals}}" slide-from-right></trendystore-contact>
          <trendystore-team name="team" globals="{{globals}}" theme="{{theme}}" slide-from-right></trendystore-team>
          <trendystore-license name="license" globals="{{globals}}" slide-from-right></trendystore-license>
        </core-animated-pages>
      </core-header-panel>
    </core-drawer-panel>
  </template>
  <script>
    window.setTransitionSpeed = function(ms) {
      CoreStyle.g.transitions.duration = ms + 'ms';
    }
    setTransitionSpeed(350);

    Polymer({
      /**
      * 'storeName' the name for you store.
      *
      * Note: this needs to be the same as your firebaseio appname.
      *
      * @attribute storeName
      * @type string
      * @default '<%= storeName %>'
      */
      storeName: '<%= storeName %>',

      /**
      * 'theme'
      *
      * Available themes: cyanCyan, cyanPink
      *
      * @attribute theme
      * @type string
      * @default cyanCyan
      */
      theme: 'cyanCyan',

      ready: function () {
      }
    });
  </script>
</polymer-element>
