<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/pvc-globals/pvc-globals.html">

<polymer-element name="<%= storeName %>-config" attributes="globals storeName imgurClientId">
  <template>
    <link rel="stylesheet" href="<%= storeName %>-config.css">
    <pvc-globals values="{{globals}}"></pvc-globals>
  </template>
  <script>
    Polymer({
      data: [],
      ready: function () {
        this.globals.storeName = this.storeName;
        this.globals.imgurClientId = this.imgurClientId;
      }
    });
  </script>
</polymer-element>
