<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../../../bower_components/trendystore-admin-elements/trendystore-admin-elements.html">

<polymer-element name="<%= storeName %>-admin" attributes="globals">
  <template>
    <!-- build:css <%= storeName %>-admin.css -->
    <link rel="stylesheet" href="<%= storeName %>-admin.css">
    <!-- endbuild-->
    <core-animated-pages selected="{{selected}}" fit>

      <trendystore-admin-login name="login" globals="{{globals}}" selected="{{selected}}"></trendystore-admin-login>
      <trendystore-dashboard name="dashboard" globals="{{globals}}" selected="{{selected}}"></trendystore-dashboard>

    </core-animated-pages>
  </template>
  <script>
    Polymer('<%= storeName %>-admin', {
      ready: function () {
        this.globals.storename = '<%= storeName %>';
      }
    });
  </script>
</polymer-element>
