<!doctype html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= storeName %></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css /styles/store.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild-->

    <!-- build:js /bower_components/webcomponentsjs/webcomponents.min.js -->
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    <!-- endbuild -->

    <!-- build:vulcanized /elements/elements.vulcanized.html -->
    <link rel="import" href="/elements/elements.html">
    <!-- endbuild-->
  </head>
  <body unresolved fullbleed>
    <template is="auto-binding" id="app">
      <core-pages selected="{{route}}" valueattr="app-route" fit>
        <<%= storeName %>-store app-route="<%= storeName %>-store" globals="{{globals}}"></<%= storeName %>-store>
        <<%= storeName %>-admin app-route="<%= storeName %>-admin" globals="{{globals}}"></<%= storeName %>-admin>
        <<%= storeName %>-config
          app-route="<%= storeName %>-config"
          globals="{{globals}}"
          storeName="<%= storeName %>"
          imgurClientId="<%= imgurClientId %>">
        </<%= storeName %>-config>
      </core-pages>
    </template>
    <script src="/bower_components/page.js/page.js"></script>
    <!-- build:js /scripts/app.js -->
    <script src="/scripts/app.js"></script>
    <!-- endbuild-->
  </body>
</html>
